<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }}{% endblock %} | EVE Certs</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
      body { padding-top: 60px; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">EVECerts</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/apikeys">API Keys</a></li>
              <li><a href="/certs">Certifications</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    <h1>{% block pagetitle %}{{ title }}{% endblock %}</h1>
    <hr />
    {% block content %}
    {% endblock %}
    <hr/>
    </div>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>
