{% extends "base.html" %}
{% set title = "My Certifications" %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Certification Name</th>
      <th># of Skills</th>
      <th>Last Modified</th>
      <th>Public?</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for cert in certs %}
    <tr>
      <td>
        <a href="/cert?id={{ cert.id }}{% if not cert.public %}&auth={{ cert.authkey }}{% endif %}">{{ cert.name }}</a>
      </td>
      <td>{{ cert.skills }}</td>
      <td>{{ cert.modified }}</td>
      <td><a href="/certs?action=togglelock&id={{ cert.id }}">
        <i class="{{ "icon-ok" if cert.public else "icon-lock" }}"></i></a></td>
      <td>
        <a href="/certs?action=edit&id={{ cert.id }}">Edit</a>
      </td>
      <td>
        <a href="/certs?action=remove&id={{ cert.id }}">Remove</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="row">
<p class="span12" style="text-align: center;">To toggle whether a certification is public or not, click on the
<i class="icon-ok"></i>/<i class="icon-lock"></i> icon.</p>
</div>

<form action="/certs" method="POST" class="form-inline">
<fieldset>
  <legend>Add a new certification</legend>

  <input id="new_cert_name" name="name" class="span8"
    type="text" placeholder="Certification name" />

  <input type="submit" value="Add Certification" class="btn" />

  <input type="hidden" name="action" value="add" />
</fieldset>
</form>
{% endblock %}
