{% extends "base.html" %}
{% set title = "My Certifications" %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Certification Name</th>
      <th># of Skills</th>
      <th>Last Modified</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for cert in certs %}
    <tr>
      <td>
        <a href="/certs?action=edit&id={{ cert.id }}">{{ cert.name }}</a>
      </td>
      <td>{{ cert.skills }}</td>
      <td>{{ cert.modified }}</td>
      <td>
        <a href="/certs?action=remove&id={{ cert.id }}">Remove</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr />

<form action="/certs" method="POST" class="form-inline">
<fieldset>
  <legend>Add a new certification</legend>

  <input id="new_cert_name" name="name" class="input-xxlarge"
    type="text" placeholder="Certification name" />

  <input type="submit" value="Add Certification" class="btn" />

  <input type="hidden" name="action" value="add" />
</fieldset>
</form>
{% endblock %}
