{% extends "base.html" %}
{% set title = cert.name %}
{% block content %}
{% if characters %}
{% if active_character %}
Showing progress for <strong>{{ active_character.name }}</strong> -
{% endif %}
<form class="form-inline">
<fieldset>
  <select name="character">
    {% for character in characters %}
    <option value="{{ character.char_id }}">{{ character.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Show Completion" />
  <input type="hidden" name="id" value="{{ cert.key().id() }}" />
</fieldset>
</form>
{% else %}
<p>Log in and add an API key to compare your character's progress towards completing this certification.</p>
{% endif %}
<hr />
<table class="table table-hover">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Required Rank</th>
      <th>Trained Rank</th>
    </tr>
  </thead>
  <tbody>
    {% for skill in skills %}
    <tr class="{{ skill.row_class }}">
      <td>{{ skill.name }}</td>
      <td>{{ skill.rank }}</td>
      <td>{{ skill.display_rank or "?" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
